body{
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
}
.mountain{
    display:flex;
    padding-right: 80px;
    padding-bottom:75px;
    width:325px;
    height:auto;
    
}
.icon{
    width:100px;
    height:auto;
}
a{
    justify-content: flex-start;
    /* all:unset; */
    text-decoration: none;
    color:#c6c6c6;
}
.navbar{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 52px; */
    /* margin-right: 52px; */
    padding-right: 52px;
 
    padding-bottom: 100px;
}
.logo{
    padding-left:52px;
    margin: 15px;
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    list-style: none;
    display:flex;
    gap:20px;
    align-items:center;
    margin-right: 50px;
    font-size: 14px;
}
.hero-block{
    background-color: #1F2937;
    display: flex;
    /* margin-left: 52px;
    margin-right: 52px;
     */
}
.hero-text{
    color:#F9FAF8;
    font-size: 48px;
    font-weight:900;
    padding-left:80px;
    padding-right:15px;
    padding-bottom:15px;
}
.hero-paragraph{
    color:#c6c6c6;
    font-size:14px;
    padding-left:80px;
    padding-right:70px;
}
.hero-container{
    padding-top:90px;
}
button.signup-button{
    background: #3882F6;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    transition-duration:.4s;
}
button.signup-button:hover{
    color: black;
}
.icon-container{
    display:flex;
    justify-content: center;
    text-align: center;
    gap:52px;
}
.info{
    max-width: 200px;
    padding-bottom:30px;
}
.information-title{
    display:flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom:30px;
}
.info > .text{
    padding-top:15px;
    font-size: 14px;
    color:#1F2937;
}
.quote{
    margin-left:52px;
    margin-right:52px;
    display:flex;
    background-color: #E5E7EB;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-radius: 15px;
}
.quote-text{
    font-size:22px;
    font-style:italic;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-left: 52px;
    margin-right:52px;
}

.quote-signature{
    font-size:22px;
    font-weight: 900;
    color:#1F2937;
    padding-right: 115px;
    padding-bottom:50px;
}
.signup{
    background-color: #3882F6;
    display:flex; 
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom:30px;
    margin:100px;
    border-radius: 15px;
    
}
.signup-header{
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8
}
.signup-text{
    color:#E5E7EB;
    font-size: 14px;
}
.footer{
    display:flex;
    justify-content: space-evenly;
    background-color:#1F2937;
    text-align: center;
    color:#C6C6C6;
    padding-top: 50px;
    padding-bottom:50px;

}